In [1]:
import pandas as pd
import numpy as np

In [2]:
review_list = pd.read_csv("/work/projects/yelp/yelp_review.csv.zip", 
                          dtype={'stars': np.uint8, 
                                 'useful': np.uint8, 
                                 'funny': np.uint8, 
                                 'cool': np.uint8})

In [3]:
review_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5261668 entries, 0 to 5261667
Data columns (total 9 columns):
review_id      object
user_id        object
business_id    object
stars          uint8
date           object
text           object
useful         uint8
funny          uint8
cool           uint8
dtypes: object(5), uint8(4)
memory usage: 220.8+ MB

In [4]:
review_list.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0

In [5]:
review_list.stars.mean()

3.7277393784632555

In [5]:
import collections

by_rating = collections.defaultdict(list)
for _, row in review_list.iterrows():
    by_rating[row.stars].append(row.to_dict())

In [ ]:
final_list = []
np.random.seed(42)

for _, item_list in sorted(by_rating.items()):
    np.random.shuffle(item_list)
    
    n_total = len(item_list)
    n_train = int(0.7 * n_total)
    n_val = int(0.15 * n_total)
    n_test = n_val
    
    for item in item_list[:n_train]:
        item['split'] = 'train'
        
    for item in item_list[n_train:n_train+n_val]:
        item['split'] = 'val'
        
    for item in item_list[n_train+n_val:n_train+n_val+n_test]:
        item['split'] = 'test'
        
    final_list.extend(item_list)
    
final_reviews = pd.DataFrame(final_list)